h1 {
  text-transform: capitalize;
  text-align: center;
}
.header {
  background-image: url("../img/backgrounds/landing.jpg");
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: left;
  color: white;
  font-family: serif;
  font-weight: lighter;
}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: fantasy;
}
.footer {
  background-color: #F15A29;
  text-align: center;
  padding-top: 5%;
  color: white;
}
#copyright {
  font-size: 50px;
}
#slogan{
  font-size: 20px
}
.email {
  text-align: center;
  background-image: url("../img/backgrounds/subscribe.jpg");
  color: white;
  padding-bottom: 7%;
  padding-top: 7%;
}
.email p {
  font-size: 30px;
}
.foods {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  color: white;
  padding-bottom: 8%;
  padding-top: 8%;
  padding-left: 10%;

}
h4 {
  color: #F15A29;
  text-transform: capitalize;
}
.button1 {
   color: white;
   border:1px ;
   height: 40px;
   width: 400px;
   border-radius: 4px;
   font-size: 20px;
   text-align: left;

}
.button2 {
  background-color:#F15A29;
  color: white;
  height: 40px;
  width: 200px;
  border-color: #F15A29;
  border-radius: 4px;
  font-size: 20px;
  border: 1px;
}
#party {
  background-color: #F15A29;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-right: 20px;
}
#happy {
  font-size: 30px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 20px;
}
#fastfood {
  text-align: left;
  margin: 25px;
  padding: 50px;
}
#drinks {
  text-align: right;
  margin: 25px;
  padding: 50px;
}
.button3 {
  background-color: white;
   color: #F15A29;
   border: 2px solid #F15A29;
   border-radius: 4px;
   width: 200px;
   height: 50px;
   font-weight: bold;
}
.box1 {
  border: 1px solid #333;
  height: 392px;
  width: 492px;
}
.box2 {
  border: 1px solid #333;
  height: 392px;
  width: 496px;
}
.box3 {
  background-color: white;
  color: #CC6600;
  border: 1px;
  width: 1000px;
  height: 400px;
  font-weight: bold;
  padding-left: 3%;
  padding-top: 5%
}
.box4 {
  background-color: white;
  border: 1px solid #333;
  width: 1000px;
  height: 200px;
  margin: 100px;
  margin-left: 50px;
}
 .border-right {
   border-right: 1px solid #333;
 }
  .customers {
    text-align: center;
  }
.menu {
  text-align: center;
}
